<< _seo.offsetSet('title', '{{ field_render('meta_title', 'post@' ~ post.id) }}') >>
<< _seo.offsetSet('description', '{{ field_render('meta_description', 'post@' ~ post.id) }}') >>
<< _seo.offsetSet('keywords', '{{ field_render('meta_keywords', 'post@' ~ post.id) }}') >>

<section id="post" data-panel="post" class="col-3 pic-hl-text">
    <article>
        <div class="pic">
            <img src="{{ asset(post.thumbnail.path) }}" alt="{{ post.thumbnail.alt }}">
        </div><div class="hlblock">
            <h1>{{ post.title }}</h1>
        </div><div class="content">
            {{ post.content|raw }}
        </div>
    </article>
</section>